.lists__expand{
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 20px;
    font-size: 2em;
}
.tasks__expand_opened{
    display: inline-table;
}
.lists__expand_folded{
    display: none;
}
.tasks__expand_on .tasks__expand_opened{
    display: none;
}
.tasks__expand_on .lists__expand_folded{
    display: inline-table;
}
