<main class="wrapper wrapper__main" (keyup.escape)="rmPrevComp()">
    <overlay-cmpnnt *ngIf="store.manager().overlayOn"
                    [@overlay]="true"
                    [performData]="{addItem: {taskVisible: false}, overlayOn: false, isVisible: false, addAuth: false}"
                    (rmDAData)="rmPrevComp()"
                    class="overlay"></overlay-cmpnnt>
    <div>
        <div class="wrapper__adds"></div>
    </div>
    <div *ngFor="let list of store.manager().data; let idx=index; trackBy: trackByList;"
            class="wrapper lists__list anim-long"
            [style.backgroundColor]="store.manager().theme.main.bg"
            id="list{{idx}}">
        <ng-template #editListDACmpnnt ></ng-template>
        <div class="lists wrapper wrapper__list">
            <ul class="lists list__parent" [style.color]="store.manager().theme.main.colorList">
                <li># {{idx + 1}}</li>
                <li>List Name: {{list.name}}</li>
                <li>Description: {{list.description}}</li>
            </ul>
            <action-cmpnnt (editItem)="editDispatcher($event)"
                           [actionList]="{priority: list.priority, listID: idx}"
                            class="lists list__parent"></action-cmpnnt>
            <div class="wrapper__adds_task">
                <button mat-mini-fab
                        [id]="idx"
                        (click)="addDispatcher({cnfg: this.store.manager().TASK_CNFG, action: {listID: idx}})"
                        [color]="store.manager().theme.main.taskBtn" title="Add task">
                    <mat-icon>add</mat-icon>
                </button>
                <ng-template #addDACmpnnt ></ng-template>
            </div>
        </div>
        <div class="wrapper wrapper__task">
            <div *ngFor="let task of store.manager().data[idx].tasks; let indx = index; trackBy: trackByTodo"
                 [class.wrapper__task_fold]="list.tasks.length > 1"
                 id="task_{{idx}}{{indx}}"
                 class="task">
                <ng-template #editDACmpnnt></ng-template>
                <div class="dragable"
                     id="{{idx}}dd{{indx}}"
                     [draggable]="true"
                     title="Drag-n-drop the task to copy">
                    <mat-icon [color]="store.manager().theme.main.dNd" class="md-icon__passive">open_with</mat-icon>
                </div>
                <ul [style.color]="store.manager().theme.main.colorTask">
                    <li>{{task.description}}</li>
                    <li>Date Assigned: {{task.start | date}}</li>
                    <li>Date Due: {{task.dueDate | date}}</li>
                </ul>
                <action-cmpnnt (editItem)="editDispatcher($event)"
                               [actionList]="{priority: task.priority, listID: idx, taskID: indx}">
                </action-cmpnnt>
            </div>
        </div>
        <mat-icon *ngIf="list.tasks ? list.tasks.length > 1 : false"
                 (click)="toggleClass(idx, 'tasks__expand_on');"
                 [color]="store.manager().theme.main.expand"
                 class="lists__expand lists__expand_folded"
                 title="Expand less">expand_less</mat-icon>
        <mat-icon *ngIf="list.tasks ? list.tasks.length > 1 : false"
                 (click)="toggleClass(idx, 'tasks__expand_on');"
                 [color]="store.manager().theme.main.expand"
                 class="lists__expand tasks__expand_opened"
                 title="Expand more">expand_more</mat-icon>
        <span class="cdk-visually-hidden">Expand/fold list</span>
    </div>
</main>
