li{
    display: block;
    padding: .4em;
}
.wrapper__main{
    padding: 0 .8em;
}
.wrapper>.wrapper__list{
    display: inline-table;
}
.wrapper__adds{
    display: inline-block;
    padding-top: 2px;
    padding-left: 10px;
}
.wrapper__adds_task{
    display: inline-block;
    margin: 1.5em .6em .6em .6em;
    padding-top: 2px;
    padding-left: 10px;
}
.wrapper__adds_list{
    padding-top: 10px;
    position: fixed;
    z-index: 3;
}
.wrapper__task{
    display: inline-table;
    height: 100%;
    width: 68%;
}
.wrapper__task_fold:not(:first-child){
    height: 0;
    overflow-x: hidden;
}
.tasks__expand_on .wrapper__task_fold{
    height: auto;
    overflow-x: visible;
}
.lists__expand{
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 32px;
    font-size: 3.5em;
}
.tasks__expand_opened{
    display: inline-table;
}
.lists__expand_folded{
    display: none;
}
.tasks__expand_on .tasks__expand_opened{
    display: none;
}
.tasks__expand_on .lists__expand_folded{
    display: inline-table;
}
li{
    justify-content: space-around;
    word-break: break-all;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}
.lists{
    display: block;
    padding: 0;
    width: 30%;
}
.lists__list{
    margin: -1em auto 1.8em auto;
    padding: .6em;
}
.lists__list:after{
    content: '';
    z-index: -1;
    display: block;
    position: absolute;
    bottom: 22px;
    right: 0.6em;
    width: 40%;
    height: 24%;
    -webkit-box-shadow: 0 13px 8px #979797;
    -moz-box-shadow: 0 13px 8px #979797;
    box-shadow: 0 13px 8px #979797;
    -webkit-transform: rotate(2.5deg);
    -moz-transform: rotate(2.5deg);
    -ms-transform: rotate(2.5deg);
    -o-transform: rotate(2.5deg);
    transform: rotate(2.5deg);
}
.list__parent{
    width : 100%;
}
.task{
    border-left: 2px solid rgba(0,0,0,.12);
    margin: .7em;
}
.dragable{
    background-color: #cfd8dc;
    display: inline-flex;
}
ul{
    margin: 0;
}
@media screen and (max-width: 1200px) {
    .lists__list:after{
        bottom: 16px;
    }
}
@media screen and (max-width: 480px) {
    .lists{
        width: 100%;
    }
    .wrapper__main{
        padding: 0;
    }
    .wrapper__task{
        width: 100%;
    }
    .task{
        border-left: 0;
        border-top: 2px solid rgba(0,0,0,.12);
    }
}
@media screen and (max-width: 736px) {
    .lists{
        width: inherit;
    }
}