md-sidenav {
    width: 200px;
    height: 100%;
    display: flex;
    overflow: visible;
}
.wrapper__sidenav{
    background-color: #e0e0e0;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 38px;
    z-index: 0;
}