md-sidenav {
    height: 100%;
    overflow: visible;
    padding: 2em 1em;
    width: 200px;
    text-align: center;
}
.wrapper__sidenav{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    top: 38px;
    z-index: 0;
}
.sd-nav__btn{
    /*display: block;*/
}