<form [formGroup]="configData.fg"
      (ngSubmit)="formSubmitData.emit(configData.fg)"
      novalidate
      class="mat-elevation-z2">
    <div *ngIf="configData.cnfg.first">
        <mat-form-field>
            <input matInput
                   [formControlName]="configData.fName.f1"
                   [type]="configData.cnfg.first.type"
                   [placeholder]="configData.cnfg.first.name | titlecase"
                   autofocus>
        </mat-form-field>
    </div>
    <div *ngIf="configData.cnfg.second ? configData.cnfg.second.name : false">
        <mat-form-field>
            <input matInput
                   [formControlName]="configData.fName.f2"
                   [type]="configData.cnfg.second.type"
                   [placeholder]="configData.cnfg.second.name | titlecase">
        </mat-form-field>
    </div>
    <div *ngIf="configData.cnfg.txtArea">
        <mat-form-field>
            <textarea matInput
                      mdTextareaAutosize="true"
                      autofocus
                      [formControlName]="configData.fName.f3"
                      [type]="configData.cnfg.txtArea.type"
                      [placeholder]="configData.cnfg.txtArea.name | titlecase">
            </textarea>
        </mat-form-field>
    </div>
    <div *ngIf="configData.cnfg.priority">
            <mat-checkbox [formControlName]="configData.fName.f4"
                         [checked]="configData.cnfg.priority"
                         color="warn">Set high priority</mat-checkbox>
    </div><br>
    <div *ngIf="configData.cnfg.dueDate">
        <mat-form-field>
            <input matInput
                   [formControlName]="configData.fName.f5"
                   [min]="minDate"
                   [matDatepicker]="picker"
                   placeholder="Due date:">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <button mat-button type="submit">{{configData.cnfg.btnName | uppercase}}</button>
</form>