<div class="wrapper wrapper__action">
    <mat-icon [color]="actionList.priority"
             (click)="changePriority(actionList)"
             class="mat-icon__act"
             title="Priority">priority_high</mat-icon>
    <span class="cdk-visually-hidden">Set priority</span>
    <mat-icon (click)="edit({list: list, task: task}, actionList)"
             [color]="store.manager().theme.action.color"
             class="mat-icon__act"
             title="Edit">edit</mat-icon>
    <span class="cdk-visually-hidden">Edit</span>
    <mat-icon (click)="remove(actionList)"
             [color]="store.manager().theme.action.color"
             class="mat-icon__act"
             title="Remove">delete</mat-icon>
    <span class="cdk-visually-hidden">Remove</span>
</div>