<nav class="nav mat-elevation-z6" [style.backgroundColor]="store.manager().theme.nav.bg">
    <mdl-window *ngIf="store.manager().mdlWindow"></mdl-window>
    <div class="cnnctn">
        <md-icon [style.color]="store.manager().theme.nav.onLineIco"
                 [class.cdk-visually-hidden]="!store.manager().connected"
                 title="OnLine"
                 class="md-icon__passive">sync
        </md-icon>
        <md-icon [style.color]="store.manager().theme.nav.offLineIco"
                 [class.cdk-visually-hidden]="store.manager().connected"
                 title="OffLine"
                 class="md-icon__passive">sync_disabled
        </md-icon>
        <span class="cdk-visually-hidden">Connection</span>
    </div>
    <button type="button" md-button (click)="sideNavToggle()" class="btn__settings">
        <md-icon title="Settings"
                 [style.color]="store.manager().theme.nav.sttngsIco"
                 class="md-icon__act">settings</md-icon>
        <span class="cdk-visually-hidden">Settings</span>
    </button>
    <button md-button  (click)="addAuthDispatcher()"
            [style.color]="store.manager().theme.nav.color">{{store.manager().userName | titlecase}}</button>
    <auth-cmpnnt *ngIf="store.manager().addAuth"></auth-cmpnnt>
</nav>