nav{
    background-color: #cfd8dc;
    height: 38px;
    padding: 3px;
    position: fixed;
    top : 0;
    text-align: center;
    width: 100%;
    z-index: 99;
}
.btn {
    position: absolute;
    line-height: 38px;
}
.btn__auth {
    overflow: hidden;
    right: 0.8em;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 155px;
}
.btn__settings{
    left: 22px;
}
.btn__add-list{
    left: 79px;
}
a{
    display: block;
}
.wrapper__window {
    text-align: center;
}
@media screen and (max-width: 480px){
    button{
        padding: 0 6px;
    }
    .btn__auth:hover {
        max-width: 155px;
    }
}
.cnnctn{
    display: inline-block;
    position: absolute;
    left: 12px;
}
/*ToDo set animation or not :)*/
md-icon{
line-height: 38px;
position: absolute;
/*animation-name: spin;*/
animation-duration: 3s;
animation-iteration-count: infinite;
animation-timing-function: linear;
}
.wrapper__adds_emb-cmpnnt{
position: fixed;
z-index: 4;
}
@keyframes spin {
    from { transform: rotate(0); } to { transform: rotate(360deg); }
}
