<nav class="nav mat-elevation-z6" [style.backgroundColor]="store.manager().theme.nav.bg">
    <mdl-window *ngIf="store.manager().mdlWindow"></mdl-window>
    <div class="cnnctn">
        <md-icon [style.color]="store.manager().theme.nav.onLineIco"
                 [class.cdk-visually-hidden]="!store.manager().connected"
                 title="OnLine"
                 class="md-icon__passive">sync
        </md-icon>
        <md-icon [style.color]="store.manager().theme.nav.offLineIco"
                 [class.cdk-visually-hidden]="store.manager().connected"
                 title="OffLine"
                 class="md-icon__passive">sync_disabled
        </md-icon>
        <span class="cdk-visually-hidden">Connection</span>
    </div>
    <div (click)="sideNavToggle()" class="btn btn__settings">
        <md-icon title="Settings"
                 [style.color]="store.manager().theme.nav.sttngsIco"
                 class="md-icon__act">settings</md-icon>
        <span class="cdk-visually-hidden">Settings</span>
    </div>
    <div (click)="addListDispatcher()"
            title="Add list"
            class="btn btn__add-list">
        <md-icon [color]="store.manager().theme.main.listBtn">add</md-icon>
    </div>
    <button md-button
            (click)="addAuthDispatcher()"
            [style.color]="store.manager().theme.nav.color"
            class="btn btn__auth anim">{{store.manager().userName}}</button>
    <auth-cmpnnt *ngIf="store.manager().addAuth"></auth-cmpnnt>
    <div class="wrapper__adds wrapper__adds_emb-cmpnnt">
        <list-form-component *ngIf="store.manager().addItem.addListVisible "></list-form-component>
    </div>
</nav>