.active{
    color: #ff5722;
}
.wrapper__auth{
    display: block;
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
}
button{
    min-width: 65px;
}
@media screen and (max-width: 480px){
    button{
        padding: 0 6px;
    }
}